*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

.monaco-editor * {
  position: static;
}

[data-viz='app'] {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  > [data-panel='viz'] {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  > [data-panel='editor'] {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
}

[data-viz-theme] {
  background: var(--viz-color-bg);
  color: var(--viz-color-fg);

  &[data-viz-theme='light'] {
    --viz-color-bg: #fff;
    --viz-color-fg: #111;
    --viz-node-color-bg: #ddd;
  }

  &[data-viz-theme='dark'] {
    --viz-color-fg: #fff;
    --viz-color-bg: #111;
    --viz-node-color-bg: #2d2d2d;
  }

  --viz-color-transparent: #fff6;
  --viz-color-active: turquoise;
  --viz-color-active: #679ae7;
  --viz-border-color: var(--viz-node-color-bg);
  --viz-border-width: 2px;
  --viz-border: var(--viz-border-width) solid var(--viz-border-color);
  --viz-radius: 0.25rem;
  --viz-node-border-style: solid;
  --viz-node-parallel-border-style: dashed;
  --viz-edge-color: white;
  --viz-font-size-base: 14px;
  --viz-font-size-sm: 12px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  overscroll-behavior: none;
}
