[data-viz='edgeGroup'] {
  &:not([data-viz-active]) {
    opacity: 0.25;
  }
}

[data-viz='edge'] {
  stroke: var(--viz-edge-color);
}

[data-viz='edge-arrow'],
[data-viz='initialEdge-circle'] {
  fill: var(--viz-edge-color);
}
