[data-viz='eventType'] {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1ch;
  --viz-eventType-dot-color: transparent;

  &[data-viz-keyword='done'] {
    --viz-eventType-dot-color: #33ff99;
  }
  &[data-viz-keyword='error'] {
    --viz-eventType-dot-color: #e76f4b;
  }
  &[data-viz-keyword='always'],
  &[data-viz-keyword='after'] {
    --viz-eventType-dot-color: #fff;
  }

  &[data-viz-keyword]:before {
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--viz-eventType-dot-color);
    display: block;
  }
}
