[data-viz='stateNodeGroup'] {
  --viz-node-border-color: var(--viz-border-color);
  --viz-node-active: 0;
  --viz-transition-color: #555;

  &[data-viz-active] {
    --viz-node-border-color: var(--viz-color-active);
    --viz-node-active: 1;
    --viz-transition-color: var(--viz-color-active);
  }

  &[data-viz-previewed]:not([data-viz-active]) {
    --viz-node-border-color: var(--viz-color-active);
  }
}

[data-viz='stateNode'] {
  color: var(--viz-color-fg);
  align-self: start;
  opacity: calc(0.7 * (1 - var(--viz-node-active)) + var(--viz-node-active));
  font-size: 1em;
  border-radius: var(--viz-radius);
  overflow: hidden;

  // Border in a pseudoelement to not affect positioning
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--viz-border);
    border-color: var(--viz-node-border-color);
    border-style: var(--viz-node-border-style);
    border-radius: inherit;
    z-index: 1;
    pointer-events: none;
  }

  &[data-viz-parent-type='parallel'] {
    --viz-node-border-style: var(--viz-node-parallel-border-style);
  }

  &:not([data-viz-parent-type='parallel']) {
    --viz-node-border-style: solid;
  }
}

[data-viz='stateNode-header'] {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'type key tags';
  align-items: center;

  > [data-viz='stateNode-key'] {
    grid-area: key;
  }

  > [data-viz='stateNode-tags'] {
    grid-area: tags;
  }
}

[data-viz='stateNode-content'] {
  background: var(--viz-node-color-bg);

  &:empty {
    display: none;
  }
}

[data-viz='stateNode-states'] {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 0;

  &:empty {
    display: none;
  }
}

[data-viz='stateNode-type'] {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
  margin-right: 0;
  border-radius: var(--viz-radius);
  background: var(--viz-color-transparent);
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: var(--viz-stateNode-type);
    display: block;
    font-weight: bold;
  }

  &[data-viz-type='final'] {
    border: 2px solid var(--viz-color-transparent);
    background: transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transform: scale(0.7);
      background: var(--viz-color-transparent);
    }
  }

  &[data-viz-type='history'] {
    --viz-stateNode-type: 'H';

    &[data-viz-history='deep'] {
      --viz-stateNode-type: 'HÙ­';
      font-size: 80%;
    }
  }
}

[data-viz='stateNode-key'] {
  padding: 0.5rem;
  font-weight: bold;
}

[data-viz='stateNode-keyText'] {
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-viz='stateNode-actions'] {
  padding: 0.5rem;

  &:empty {
    display: none;
  }
}

[data-viz='stateNode-invocations'] {
  padding: 0.5rem;
}

[data-viz='stateNode-tags'] {
  display: flex;
  flex-direction: row;
  text-overflow: ellipsis;
  padding: 0.5rem;
}

[data-viz='stateNode-tag'] {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #fff5;

  & + & {
    margin-left: 1ch;
  }
}

[data-viz='stateNode-meta'] {
  border-top: 2px solid var(--chakra-colors-whiteAlpha-300);
  padding: 0.5rem;
  min-width: max-content;
  font-size: var(--chakra-fontSizes-sm);

  > p {
    max-width: 10rem;
  }
}
