@import './base.scss';

[data-viz='transitions'] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

[data-viz='transition'] {
  --viz-transition-color: gray;

  &[data-viz-potential] {
    --viz-transition-color: var(--viz-color-active);
  }
}

[data-viz='transition-label'] {
  font-size: var(--viz-font-size-sm);
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--viz-transition-color);
  overflow: hidden;
  background: var(--viz-color-bg);
}

[data-viz='transition-event'] {
  background: var(--viz-transition-color);
  padding: 0.25rem 0.5rem;
}

[data-viz='transition-guard'] {
  padding: 0 0.5rem;
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }
}
