@import './base.scss';

[data-viz='transitions'] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

[data-viz='transition'] {
  --viz-transition-color: gray;
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;

  &[data-viz-potential] {
    --viz-transition-color: var(--viz-color-active);
  }

  > [data-viz='transition-label'] {
    align-self: center;
  }
}

[data-viz='transition-label'] {
  font-size: var(--viz-font-size-sm);
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--viz-transition-color);
  overflow: hidden;
  background: var(--viz-color-bg);
}

@keyframes move-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

[data-is-delayed]:not(:disabled):before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--viz-transition-color);
  animation: move-left calc(var(--delay) * 1ms) linear;
  z-index: 0;
  opacity: 0.5;
}

[data-viz='transition-event'] {
  padding: 0.25rem 0.5rem;
}

[data-viz='transition-event']:not([data-is-delayed]) {
  background: var(--viz-transition-color);
}

[data-viz='transition-guard'] {
  padding: 0 0.5rem;
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }
}
