[data-viz='transition'] {
  --viz-transition-color: gray;
  display: block;
  border-radius: 1rem;
  background-color: var(--viz-transition-color);
  appearance: none;

  &[data-viz-potential] {
    --viz-transition-color: var(--viz-color-active);
  }

  > [data-viz='transition-label'] {
    align-self: center;
  }

  &[data-is-delayed] {
    &:not([data-viz-disabled]):after {
      animation: move-left calc(var(--delay) * 1ms) linear;
      z-index: 0;
    }
  }
}

[data-viz='transition-label'] {
  flex-shrink: 0;
  font-size: var(--viz-font-size-sm);
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

@keyframes move-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

[data-viz='transition-event'] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  padding: 0.25rem 0.5rem;
}

[data-viz='transition-guard'] {
  padding: 0 0.5rem;
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }
}

[data-viz='transition-actions'] {
  &:empty {
    display: none;
  }
}

[data-viz='transition-content'] {
  &:empty {
    display: none;
  }
  padding: 0rem 0.5rem 0.5rem;
}

[data-viz='transition-description'] {
 &:empty {
    display: none;
  }
  border-top: 2px solid var(--chakra-colors-whiteAlpha-300);
  padding: 0.5rem;
  min-width: max-content;
  font-size: var(--chakra-fontSizes-sm);
  text-align: left;
  > p {
    max-width: 10rem;
  }
}