name: CI/CD

on: [push]

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2.2.0

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build
        env:
          REACT_APP_GRAPHQL_API_URL: https://dev.stately.ai/registry/api/graphql
          REACT_APP_SUPABASE_API_URL: 'https://owxhbmonbfrgnegwprcq.supabase.co'
          REACT_APP_SUPABASE_ANON_API_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTYyMzkzNTUzOCwiZXhwIjoxOTM5NTExNTM4fQ.srHSjKsgKFPREW6M0jGbFrvIWsmI0XfSTthBTFOZXI8'
          CI: 'false'

      - name: Run Cypress
        uses: cypress-io/github-action@v2
        with:
          start: yarn serve build -p 3000 -s
          wait-on: http://localhost:3000

      - name: Upload Screenshots
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Upload Videos
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
